@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Roboto:400,500,700,900');

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: white;
  font-family: 'Open Sans', sans-serif;
  background:#ffffff;
  font-weight: 300;
    color: #666;
    font-size: 20px;
    line-height: 1.6em;
}

.header {
  width: 27.5%;
  font-size: 25px;
  margin: 50px auto 0px;
  color: white;
  background:#3FBBC0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: 1px solid #B0C4DE;
  border-radius: 0px 0px 0px 0px;
  padding: 20px;
}
form, .content {
  padding-left: 20px;
  width: 30%;
  background: white;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #B0C4DE;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0px 0px 0px 0px;
  -moz-box-shadow:    2px 2px 10px 5px #ccc;
  -webkit-box-shadow: 2px 2px 10px 5px #ccc;
  box-shadow:         2px 2px 10px 5px #ccc;
}
.input-group {
  margin: 10px 0px 10px 0px;

  padding-top: 5px;
  padding-bottom: 5px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  font-weight: bold;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::placeholder
{
    font-family: 'Open Sans', sans-serif;
  color: black;
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn {
  padding: 15px;
  font-size: 20px;
  color: white;
  background: #E6E6FA;
  background:#3FBBC0;
  border: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
}
.btn:hover
{
  color: black;
  background: white;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
a
{
  color: black;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-style: none;
}
a:hover{
  color: red;
}